# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Databases and Instance folders
instance/
db.sqlite3
db.sqlite3-journal
*.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log
pip-log.txt

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
